@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root{
   --pink:#e84393;
   --red:#c0392b;
   --orange:#f39c12;
   --black:#333;
   --white:#fff;
   --light-color:#666;
   --light-white:#ccc;
   --light-bg:#f5f5f5;
   --border:.2rem solid var(--black);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
   font-family: 'Rubik', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition:all .2s linear;
}

*::selection{
   background-color: var(--pink);
   color:var(--white);
}

*::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
   
}

*::-webkit-scrollbar-track{
   background-color: transparent;
   
}

*::-webkit-scrollbar-thumb{
   background-color: var(--pink);
}

html{
    font-size:62.5% ;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6.5rem;
}

body{
    background: var(--light-bg);
}

section{
    padding: 3rem 2rem;
}

.btn,
.delete-btn, 
.option-btn{
    display:  inline-block;
    border-radius: .5rem;
    margin-top:  1rem;
    font-size: 2rem;
    color:var(--white);
    cursor: pointer;
    padding: 1rem 3rem;
    text-transform: capitalize;
}

.message{
    position: sticky;
    top: 0;
    margin: 0;
    max-width: 1200px;
    background-color: var(--light-bg);
    display: flex;
    align-items: center;
    padding: 2rem;
    gap: 1.5rem;
    z-index: 10000;
    justify-content: space-between;
}

.message span {
    color: var(--black);
    font-size: 2rem; 
}

.message i{
    font-size: 2.5rem;
    color: var(--red);
    cursor: pointer;
}

.message i:hover{
    transform: rotate(90deg);
}

.btn{
    background-color: var(--pink);
}

.delete-btn{
    background-color: var(--red);
}

.option-btn{
    background-color: blue;
}

.btn:hover,
.delete-btn:hover,
.option-btn:hover{
    background-color: var(--black);
}


.empty{
    padding:1.5rem;
    font-size: 2rem;
    color: blue;
    border: var(--border);
    box-shadow: var(--border);
    text-align: center;
    background-color: white;
    border-radius: .5rem;
    text-transform: uppercase;
}



.heading{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1rem;
    background-color: rgba(255, 192, 203, 0.658);
    text-align: center;
     min-height: 30vh ;
}


.heading h3{
    font-size: 4.5rem;
    color: var(--black);
    text-transform:uppercase;}

.heading p{
    font-size: 2.5rem;
    color: var(--light-whiter);
}

.heading p a{
    color: var(--pink);
}

.heading p a:hover{
    text-decoration: underline;
}

 .search {
    width: 100%;
    display: flex;
    position: relative;
    
    align-items:flex-start;
    
    }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 15px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: var(--pink);
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 30%;
    position: absolute;
    top: 110%;
    left: 83%;
    transform: translate(-50%, -50%);
  }


@keyframes fadeIn {
    0%{
        transform: translateY(1rem);
        opacity: .5;
    }
    
}

.form-container{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    min-height: 200vh;
   /* background-image: url("https://picstatio.com/download/1920x1080/538db2/pink-roses-decorations-flowers.jpg");*/
   background-image:  url("https://wallpaperset.com/w/full/8/5/c/174055.jpg");

}

.form-container form{
    margin-bottom:  50%;
   padding: 2rem;
    border-radius: 1rem;
    border:var(--border);
    background-color: rgb(245, 206, 239);
    box-shadow: var(--box-shadow);
    width: 50rem;
    text-align: center;
}

.form-container form h3{
    font-size: 3rem;
    text-transform: uppercase;
    color:var(--black);
    margin-bottom: 1rem;
}

.form-container form .box{
    width: 100%;
   padding: 1.2rem 1.4rem;
    font-size: 1.8rem;
    color:var(--black);
    border:var(--border);
    background-color: var(--light-bg);
    margin: 1rem 0;
    border-radius: 1rem;
}

.form-container form p{
    margin-top: 1rem;
    font-size: 2rem;
    color:var(--black);
}

.form-container form p a{
    color:var(--pink);
}

.form-container form p a:hover{
    text-decoration: underline;
}


.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: pink;
    box-shadow: var(--box-shadow);
    }

.header .flex {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content:space-between ;
    padding: 1.5rem 2rem;
    max-width: 1200px;
    position: relative;
}

.header .flex .logo {
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
    margin-right: auto;
    padding-right: 3rem;
  }
  
  .header .flex .navbar ul {
    list-style: none;
  }
  
  .header .flex .navbar ul li {
    position: relative;
    float: left;
  }
  
  .header .flex .navbar ul li:hover ul {
    display: inline-block ;
  }
  
  .header .flex .navbar ul li a {
    font-size: 1.7rem;
    color: #666;
    padding: 1rem 1.5rem;
    display: block;
    text-transform: capitalize;
  }
  
  .header .flex .navbar ul li a:hover {
    background: #eee;
  }
  
  .header .flex .navbar ul li:hover ul{
    display: inline-block;
 }

  .header .flex .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 15rem;
    background: var(--white);
    display: none;
    animation: fadeIn .2s linear;
  }
  
  .header .flex .navbar ul li ul li {
    width: 100%;

  }

  .header .flex .icons > *{
    font-size: 2rem;
    margin-left: 1rem;
    color:var(--black);
    cursor: pointer;
 }
 
 .header .flex .icons > *:hover{
    color:var(--pink);
 }


 .header .search-form {
  position: absolute;
  top: 99%;
  left: 0;
  right: 0;
  border-top: 0.2rem solid #333;
  background-color: pink;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.header .search-form.active {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.header .search-form input {
  width: 100%;
  height: 100%;
  padding-right: 1rem;
  font-size: 1.7rem;
  color: #666;
  text-transform: none;
}

.header .search-form label {
  font-size: 2.5rem;
  color: pink;
  cursor: pointer;
}

.search-form label:hover {
  color: #e84393;
}


#menu-btn {
  display: none;
}



.header .flex .account-box{
    position: absolute;
    top: 120%; right: 2rem;
    background-color: var(--white);
    border:var(--border);
    text-align: center;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .5rem;
    width: 33rem;
    display: none;
    animation: fadeIn .2s linear;
}

.header .flex .account-box.active{
    display: inline-block;
 }

.header .flex .account-box p{
    padding-bottom: 1rem;
    font-size: 2rem;
    color: var(--light-color);
line-height: 1.5rem;}
 .header .flex .account-box p span {
        color:var(--pink);
    }
 .header .flex .account-box .delete-btn{
        margin-top:.5rem;
    }


.home {
    padding: 0;
    position: relative;
  }
  
  .home .slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 88vh;
    padding: 2rem 7%;
    background-size: cover !important;
    background-position: center !important;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: none;
  }
  
  .home .slide.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .home .slide .content span {
    color: #333;
    display: block;
    font-size: 2rem;
    -webkit-animation: fadeIn .4s linear .2s backwards;
            animation: fadeIn .4s linear .2s backwards;
  }
  
  .home .slide .content h3 {
    color: #333;
    text-transform: uppercase;
    padding: 1rem 0;
    font-size: 6rem;
    -webkit-animation: fadeIn .4s linear .4s backwards;
            animation: fadeIn .4s linear .4s backwards;
  }
  
  .home .slide .content h4 {
    color: rgb(238, 231, 231);
    text-transform: uppercase;
    padding: 1rem 0;
    font-size: 6rem;
    -webkit-animation: fadeIn .4s linear .4s backwards;
            animation: fadeIn .4s linear .4s backwards;
  }
  .home .slide .content .btn {
    -webkit-animation: fadeIn .4s linear .6s backwards;
            animation: fadeIn .4s linear .6s backwards;
  }
  
  .home #next-slide,
  .home #prev-slide {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    height: 6rem;
    width: 6rem;
    line-height: 5.5rem;
    font-size: 4rem;
    color: #333;
    border: 0.2rem solid #333;
    background: #fff;
    border-radius: .5rem;
    cursor: pointer;
    text-align: center;
  }
  
  .home #next-slide:hover,
  .home #prev-slide:hover {
    background: var(--pink);
    color: #fff;
  }
  
  .home #prev-slide {
    right: 9rem;
  }


.about {
    background-color:whitesmoke;
}


  .about .flex{
    max-width: 1200px;
    margin: 0 auto;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
  }

  .about .flex  .image{
    flex: 1 1 40rem;
  }

  .about .flex  .image img{
    width: 100%;
  }

  .about .flex  .content{
    flex: 1 1 40rem;
    text-align: center;
  }

  .about .flex  .content h3{
    font-size: 3rem;
    text-transform: capitalize;
    color: var(--black);
  }

  
  .about .flex  .content p{
    padding: 1rem;
    font-size: 1.7rem;
    color: var(--light-color);
    line-height: 2;
  }

  .about .flex  .content li{
    text-align: left;
    font-size: 1.5rem;
    color: var(--pink);
    line-height: 2rem;
    padding-left: 20rem;
  }


  .products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    gap: 1.5rem;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    justify-content:center;
    
    }
    
    .products .box-container .box{
       text-align: center;
       padding: 2rem;
       border:var(--border);
       background-color: var(--white);
       box-shadow: var(--box-shadow);
       border-radius: .5rem;
       position: relative;
    
    }
    
    .products .box-container .box .image{
        height: 30rem;
        width: auto;
        margin-bottom: .5rem;
    }
    
    .products .box-container .box .price{
        background-color: var(--pink);
        position: absolute;
        top:1rem; left:1rem;
        border-radius: 4rem;
        color:var(--white);
        padding: .5rem 1.5rem ;
        font-size: 2rem;
    
    }
 
    .products .box-container .box p{
        position: absolute;
        top:1rem; left:1rem;
        color:black;
        padding-left: 19rem;
        font-size: 1.5rem;
    
    }

    .products .box-container .box .name{
        margin: 1rem;
        color:black;
        font-size: 2.5rem;
        text-align: center;
    
    }

    .products .box-container .box .qty{
        
        color:black;
        font-size: 2rem;
        text-align: left;
        padding-left: 2rem;
        border:var(--border);
        border-radius: 2rem;
    
    }

    
    .products .box-container .box p:hover{
        text-decoration: underline;
        color:red;

    }

    .products .box-container .box .btn ,
    .products .box-container .box .option-btn{
        width: 100%;
    }


    .products .title{
        text-align: center;
   margin-bottom: 4rem;
   color:var(--black);
   text-transform: capitalize;
   font-size: 4rem;
    }

    .placed-orders .box-container{
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        align-items: flex-start;
    }

  
    
    
    .placed-orders .box-container .box  { 

    padding: 2rem;
    border:var(--border);
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    }
    
    .placed-orders .box-container .box p{
        margin-bottom: 1rem;
        font-size: 2rem;
        color: black;
    
    }
    
    
    .placed-orders .box-container .box p span{
        color: var(--pink);
    }
    
    .placed-orders .title{
        font-size: 3rem;
        text-align: center;
        text-transform: capitalize;
        padding-top: 1rem;
   margin-bottom: 5rem;
   color:var(--black);

    }
  
    .wishlist .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, 30rem);
        gap: 1.5rem;
        align-items: flex-start;
        max-width: 1200px;
        margin: 0 auto;
        justify-content:center;
        
        }
        
        .wishlist .box-container .box{
           text-align: center;
           padding: 2rem;
           border:var(--border);
           background-color: var(--white);
           box-shadow: var(--box-shadow);
           border-radius: .5rem;
           position: relative;
        
        }
        
        .wishlist .box-container .box .image{
            height: 30rem;
            width: auto;
            margin-bottom: .5rem;
        }
        
        .wishlist .box-container .box .price{
            background-color: var(--pink);
            position: absolute;
            top:1rem; left:1rem;
            border-radius: 4rem;
            color:var(--white);
            padding: .5rem 1.5rem ;
            font-size: 2rem;
        
        }
     
        .wishlist .box-container .box p{
            position: absolute;
            top:1rem; left:1rem;
            color:black;
            padding-left: 19rem;
            font-size: 1.5rem;
        
        }
    
        .wishlist .box-container .box .name{
            margin: 1rem;
            color:black;
            font-size: 2.5rem;
            text-align: center;
        
        }
    
        .wishlist .box-container .box .delete-btn{
            display:  inline-block;
            border-radius: .5rem;
            margin-top:  1rem;
            font-size: 2rem;
            color:var(--white);
            cursor: pointer;
            padding: 1rem 3rem;
            text-transform: capitalize;
            background-color: var(--pink);
            
        
        }
    
        .wishlist .box-container .box .delete-btn:hover{
            text-decoration:underline;
        }
        
    
        .cart .box-container{
            display: grid;
            grid-template-columns: repeat(auto-fit, 30rem);
            gap: 1.5rem;
            align-items: flex-start;
            max-width: 1200px;
            margin: 0 auto;
            justify-content:center;
            
            }
            
            .cart .box-container .box{
               text-align: center;
               padding: 2rem;
               border:var(--border);
               background-color: var(--white);
               box-shadow: var(--box-shadow);
               border-radius: .5rem;
               position: relative;
            
            }
            
            .cart .box-container .box .image{
                height: 30rem;
                width: auto;
                margin-bottom: .5rem;
            }
            
            .cart .box-container .box .price{
                background-color: var(--pink);
                position: absolute;
                top:1rem; left:1rem;
                border-radius: 4rem;
                color:var(--white);
                padding: .5rem 1.5rem ;
                font-size: 2rem;
            
            }
         
            .cart .box-container .box p{
                position: absolute;
                top:1rem; left:1rem;
                color:black;
                padding-left: 19rem;
                font-size: 1.5rem;
            
            }
        
            .cart .box-container .box .name{
                margin: 1rem;
                color:black;
                font-size: 2.5rem;
                text-align: center;
            
            }

            .cart .box-container .box .qty{
                width: 12rem;
                height: auto;
                padding:1.2rem 1.4rem;
                border-radius: 2rem;
                border:var(--border);
                font-size: 1.8rem;
             }
        
       
        
            .cart .box-container .box .delete-btn:hover{
                text-decoration:underline;
            }


            .cart .box-container .box .delete-btn{
                display:  inline-block;
                border-radius: .5rem;
                margin-top:  1rem;
                font-size: 2rem;
                color:var(--white);
                cursor: pointer;
                padding: 1rem 3rem;
                text-transform: capitalize;
                width: 100%;
                background-color: #e84393;
                
            
            }
            .cart .box-container .box .option-btn{
                display:  inline-block;
                border-radius: .5rem;
                margin-top:  1rem;
                font-size: 2rem;
                color:var(--white);
                cursor: pointer;
                padding: 1rem 3rem;
                text-transform: capitalize;
                
            
            }
        
            .cart .box-container .box .option-btn:hover{
                text-decoration:underline;
            }
            

            .cart .cart-total{
                max-width: 1200px;
                margin: 0 auto;
                padding: 2rem;
                text-align: center;
                background-color: white;
                border: var(--border);
                box-shadow: var(--box-shadow);
                border-radius: 2rem;
                margin-top: 2rem;

            }
            
            .cart .sub-total{
                 font-size: 2rem;
                 text-align: center;
                 margin-top: 2rem;
            }

            .cart .cart-total p{
                font-size: 3rem;
                color: var(--light-color);
                margin-bottom: 1rem;
            }

            .cart .cart-total p span{
                color: var(--red);
            }


             .display-order{
                max-width: 1200px;
                margin: 0 auto;
                text-align: center;
             }

             .display-order p{
                display: inline-block;
                border-radius: 2rem;
                font-size: 2rem;
                color: black;
                padding: 1rem 1.5rem;
                margin: .5rem;
                background-color: var(--white);
                box-shadow: var(--box-shadow);
                border: var(--border);
             }

             .display-order p span{
                color: #c0392b;
             }
               
             .display-order .total{
                text-transform: uppercase;
                margin-top: 2rem;
                font-size: 2.5rem;
                color: var(--light-color);

             }


             .display-order .total span{
                color: #c0392b;
             }


             .checkout form{
                background-color: var(--white);
                border: var(--border);
                max-width: 1200px;
                margin: 0 auto;
                border-radius: 2rem;
                padding: 2rem;
                box-shadow: var(--box-shadow);
             }

             .checkout form h3{
                padding: 1.5rem;
                font-size: 2.5rem;
                margin-bottom: 1rem;
                background-color: var(--black);
                color: var(--white);
                border-radius:2rem;
                text-align: center;
                text-transform: capitalize;

             }

          .checkout form .flex{
             display: flex;
             flex-wrap: wrap;
             gap: 1.5rem;
          }

          .checkout form .flex .inputBox{
            flex: 1 1 40rem;
          }

           
        .checkout form .flex .inputBox input,
        .checkout form .flex .inputBox select{
            margin: 1rem 0;
            width: 100%;
            background-color: var(--light-bg);
            padding: 1.2rem 1.4rem;
            border: var(--border);
            font-size: 1.8rem;
            color: var(--black);
            border-radius: 1.5rem;
        }

        .checkout form .flex .inputBox span{
            font-size: 2rem;
            color: var(--black);

        }

        .heading-w .title{
            text-align: center;
       margin-bottom: 2rem;
       color:var(--black);
       text-transform: capitalize;
       font-size: 4rem;
        }
    

    .view-det form{
        max-width: 50rem;
        padding: 2rem;
        text-align: center;
        border:var(--border);
        box-shadow: var(--border);
        border-radius: .5rem;
        background-color:rgb(255, 215, 239);
        margin: 0 auto;
    }

    


     .view-det form .image{
        height: 35rem;
        
        border:var(--border);
        position:center;
        border-radius: .5rem;
        align-items: center;
     }

     
     .view-det form .name{
        margin:1rem 0;
        font-size: 2rem;
        color: var(--black);
     }

     .view-det form .price{
        margin:1rem 0;
        font-size: 1.5rem;
        color: var(--black);
     }

     .view-det form .quant{
        margin:1rem 0;
        font-size: 1.5rem;
        color: var(--black);
     }

     .view-det form .details{
        margin:1rem 0;
        font-size: 1.5rem;
        color: var(--black);
        
     }

     .view-det form .qty{
        color:black;
        font-size: 2rem;
        text-align: left;
        padding-left: 2rem;
        border:var(--border);
        border-radius: 2rem;}

        .view-det form .btn ,
        .view-det form .option-btn{
            width: 50%;
        }
    
        .view-det .title{
            font-size: 3.5rem;
            text-transform: capitalize;
             text-align: center;
            padding-bottom: 3rem;
            color: var(--black);
         }

  .reviews .title{
    font-size: 3.5rem;
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 3rem;
  }

.reviews  .box-container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33rem,1fr));
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;

}

.reviews  .box-container .box{
    padding: 2rem;
    text-align: center;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: .5rem;
}

.reviews  .box-container .box img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

.reviews .box-container .box p{
    padding: 1rem 0;
    font-size: 1.5rem;
    color: var(--light-color);
    line-height:2 ;
}



.reviews .box-container .box .stars i{
    color: orange;
    font-size: 1.5rem;
    margin: 0.2rem;
    padding-bottom: 1rem;
}

.reviews .box-container .box h3{
    font-size: 2rem;
    color:var(--black);
    margin-top: 1rem;

}


.footer{
    background-color: pink;
}

.footer .box-container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;

}

.footer .box-container .box h3{
    font-size: 2.3rem;
    color: var(--black);
    margin-bottom: 1.5rem;
    text-transform: capitalize;
    
}

.footer .box-container .box a,
.footer .box-container .box p{
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
    display: block;
}


.footer .box-container .box a i,
.footer .box-container .box p i{
    color: var(--pink);
    padding-right: 1rem;
}


.footer .box-container  a:hover{
    text-decoration: underline;
    
}


.search-form form {
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: var(--white);
    gap: 1rem;
    max-width: 1200px;
}

.search-form form .box{
    width: 100%;
    border: var(--border);
    background-color: pink;
    padding: 1.2rem 1.4rem;
    font-size: 1.5rem;
}

.search-form form .btn{
    margin-top: 0;
    
}





@media (max-width:991px){

    html{
        font-size: 55%;
    }
}

@media (max-width:768px){
    #menu-btn{
        display: inline-block;
    }

    .header .flex{
        padding: 2rem;
    }

    .header .flex .navbar{position: absolute;
        top:99%; left:0; right: 0;
        background-color: var(--white);
        border-top: var(--border);
        border-bottom:var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

    }

    .header .flex .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); 
    }

    .header .flex .navbar ul li{
        width: 100%;
        padding: .5rem;
    }

    .header .flex .navbar ul li ul{
        position: static;
        width: 100%;
        animation: none;
        background-color: var(--light-bg );
    }

    .header .flex .navbar ul li ul li{
        padding-left: 2rem ;
    }
}






@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading h3{
        font-size: 4rem;
    }
}

